.employee-input-container{
    display: flex;
    justify-content:space-between;
}

input[type=text] {
    width: 65%;
    padding: 6px 20px;
    margin: 4px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.category-input {
    margin-top: 10px;
    float:left;
}

.employee-data-input{
    float:left;
}